body {
    min-height: 3000px;
    padding-top: 70px;
  }

.cont {
    margin: auto;
    margin-bottom: 16px;
}

#viewCommentButton {
    margin-right: 8px;
    margin-left: 12px;
}

em {
    float: right;
    color: #e05c65;
    padding-left: 10px;
  }
  .error input,
  .error select,
  .error textarea {
    background-color: #e3c3c5;
  }
  .error ::-webkit-input-placeholder {
    color: #999;
  }
  .error :-moz-placeholder {
    color: #999;
  }
  .error ::-moz-placeholder {
    color: #999;
  }
  .error :ms-input-placeholder {
    color: #999;
  }