<div class="container">
  <!-- For loop starts here-->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption">
          <!-- Use "if" to check if post contains an image -->
          <img src="" alt="If there is an image it will shown here!">
          <h4><b>Post Name</b></h4>
          <p>Post content</p>
          <p>Post City</p>
          <p><small>Post lat and lon</small></p>
          <p><i>Post publishing date</i></p>
        </div>
      </div>
    </div>
  </div>
  <!-- For loop ends here -->

  <!-- Paginator -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pagination">
        <span class="step-links">
          <!-- Use "if" to check whether there is a previous page or not -->
          <a href="">previous&laquo;</a>


          <span class="current">
            Page 1 of 3
          </span>

          <!-- Use "if" to check whether there is a previous page or not -->
          <a href="">next&raquo;</a>
        </span>
      </div>
    </div>
  </div>
</div>
