<div class="container">
  <div class="col-md-6">
    <h2>Create Sweat</h2>
    <form [formGroup]="newSweatForm" (ngSubmit)="saveSweat(newSweatForm.value)" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="nickname">Nickname</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group" [ngClass]="{'error': !validateContent()}">
        <label for="content">Content</label>
        <em *ngIf="!validateContent()">Required</em>
        <textarea formControlName="content" id="content" rows="3" class="form-control" placeholder="content"></textarea>
      </div>

      <div class="form-group">
        <label for="image">Upload a picture</label>
        <input type="file" class="form-control-file" accept=".png, .jpg, .jpeg" id="image" formControlName="image" (change)="onUploadChange($event)"
        />
        <img *ngFor="let item of base64textString" src="{{item}}" alt="" id="img" class="img-fluid">
      </div>

      <div class="form-group" [ngClass]="{'error': !validateLat()}">
        <label for="latitude">Enter latitude value</label>
        <em *ngIf="!validateLat()">Required</em>
        <input type="text" class="form-control" formControlName="lat">
      </div>

      <div class="form-group" [ngClass]="{'error': !validateLon()}">
        <label for="longitude">Enter longitude value</label>
        <em *ngIf="!validateLon()">Required</em>
        <input type="text" class="form-control" formControlName="lon">
      </div>
      
      <button type="submit" class="btn btn-primary" (onClick)="onSubmit()" [disabled]="newSweatForm.invalid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      
    </form>
  </div>

</div>
